<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.stefanotranquillini.alfred.slackstatus</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>07EA37CB-795C-4CC4-A770-5B8D71CE5A9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE51D350-CAB9-4336-8DFF-D598D69453E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BDE8AA1-2DC7-4F90-9B4D-69CBEAF8D1AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0948D243-E5DB-409D-842B-D2D06F267E82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3B6E451-E192-46D5-9601-F22E01C94A1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3B173E3D-9B82-4ACC-BDC9-CCB31E31B6ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>105E954A-4799-4859-8980-34EBC65037FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>274F466D-44EF-44B8-A407-07DFAD6B0CB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2F5194BF-C581-4338-85A8-6A6B9003E81F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>11111EC6-D142-4463-A115-EA5AF9C51A0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F3BF2DE-A34B-49AA-B9F8-62567C02534B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F24D7D2-6476-4772-98B9-84B9AE96DB6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0948D243-E5DB-409D-842B-D2D06F267E82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22801275-FC9C-42F4-9BED-86C2C83B3708</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F24D7D2-6476-4772-98B9-84B9AE96DB6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2392DB12-BA03-47B7-9BB0-233142FB3F1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE77055D-7137-4237-93AF-3D283604F65F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>274F466D-44EF-44B8-A407-07DFAD6B0CB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F1D9726-B8F8-43DB-AEA6-1A33285F6E5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F5194BF-C581-4338-85A8-6A6B9003E81F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42247D83-2DA0-4F8E-998D-A78B9782F6F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B173E3D-9B82-4ACC-BDC9-CCB31E31B6ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42247D83-2DA0-4F8E-998D-A78B9782F6F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E8BEE50-5A28-4184-A93B-F0AC92BBD905</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>105E954A-4799-4859-8980-34EBC65037FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EBAD960-13A5-4E4F-9CD0-793F60FA3CE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B07DCF63-CCD7-4109-86C2-2D55DFBF6745</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E90AF384-353E-4718-8699-C138C7E64A08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F1D9726-B8F8-43DB-AEA6-1A33285F6E5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42247D83-2DA0-4F8E-998D-A78B9782F6F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42247D83-2DA0-4F8E-998D-A78B9782F6F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6FD53CE-DEF3-4145-8D16-6E9F87E2BFDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AAAE81F1-CAF0-4D68-B3A5-68244566FBC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43689A2A-F885-43ED-9EE0-68FD29A87E43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42247D83-2DA0-4F8E-998D-A78B9782F6F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDF29005-60A8-41C9-AD8A-B2E54A4DAA02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5139E7EF-1A39-4662-876F-3367C17F1368</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9114C11-5E60-455F-BE8A-A2EB061B36C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>543034E8-B802-44B7-A3D8-2D671576F112</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0948D243-E5DB-409D-842B-D2D06F267E82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58934BCD-28CD-4E4D-8E08-41E5E47820E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDF29005-60A8-41C9-AD8A-B2E54A4DAA02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E221ABC8-F118-4280-8D45-2FD749999831</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D901710-1415-4480-A640-9B1DCB141675</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52A4B380-0D51-44DD-8E16-4BB38D3B558A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>939E852E-EA35-4649-BCF5-E308B6BDBD05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69D23941-6F76-4825-B18D-317BAA150F36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0960DE39-0CFB-4E85-BD8A-B4E908A9FC73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BDE8AA1-2DC7-4F90-9B4D-69CBEAF8D1AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58934BCD-28CD-4E4D-8E08-41E5E47820E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F3BF2DE-A34B-49AA-B9F8-62567C02534B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACE7761D-D356-4C27-B0FE-39BC51D5DD1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>939E852E-EA35-4649-BCF5-E308B6BDBD05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C72CAADF-D81F-44D4-BA97-B6E5403BD604</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3B6E451-E192-46D5-9601-F22E01C94A1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E8BEE50-5A28-4184-A93B-F0AC92BBD905</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAAE81F1-CAF0-4D68-B3A5-68244566FBC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>687A17CB-0293-49D4-978D-C9942C42E08B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D901710-1415-4480-A640-9B1DCB141675</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2392DB12-BA03-47B7-9BB0-233142FB3F1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B07DCF63-CCD7-4109-86C2-2D55DFBF6745</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42247D83-2DA0-4F8E-998D-A78B9782F6F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B363A37C-9E8F-4AF9-AA2E-FBB51C4C75E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9E29D54-56A0-45D7-A664-9EB2528977A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9114C11-5E60-455F-BE8A-A2EB061B36C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0948D243-E5DB-409D-842B-D2D06F267E82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDF29005-60A8-41C9-AD8A-B2E54A4DAA02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9E29D54-56A0-45D7-A664-9EB2528977A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42247D83-2DA0-4F8E-998D-A78B9782F6F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD2EB080-9848-437D-9D83-00372A98F948</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>543034E8-B802-44B7-A3D8-2D671576F112</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C72CAADF-D81F-44D4-BA97-B6E5403BD604</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE77055D-7137-4237-93AF-3D283604F65F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE51D350-CAB9-4336-8DFF-D598D69453E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E221ABC8-F118-4280-8D45-2FD749999831</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E221ABC8-F118-4280-8D45-2FD749999831</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42247D83-2DA0-4F8E-998D-A78B9782F6F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E90AF384-353E-4718-8699-C138C7E64A08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07EA37CB-795C-4CC4-A770-5B8D71CE5A9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9210F94-413E-4C56-B824-04131F95FB1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0948D243-E5DB-409D-842B-D2D06F267E82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECC49BEF-6E27-4B1A-AB84-DEC1FA067817</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9210F94-413E-4C56-B824-04131F95FB1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE77055D-7137-4237-93AF-3D283604F65F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>978D5C8F-8D63-4D55-8F76-2E4ADCAC0BA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBD41F93-2806-477E-A278-B0177A6E9D50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43689A2A-F885-43ED-9EE0-68FD29A87E43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stefano Tranquillini</string>
	<key>description</key>
	<string>Set Slack status</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Slack Status</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sssetup</string>
				<key>subtext</key>
				<string>This is the first step</string>
				<key>text</key>
				<string>Setup Slack Status: init Oauth process</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>11111EC6-D142-4463-A115-EA5AF9C51A0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 slack_oauth.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8F3BF2DE-A34B-49AA-B9F8-62567C02534B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ACE7761D-D356-4C27-B0FE-39BC51D5DD1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>A6FD53CE-DEF3-4145-8D16-6E9F87E2BFDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python slack_setup.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0960DE39-0CFB-4E85-BD8A-B4E908A9FC73</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sssetup</string>
				<key>subtext</key>
				<string>(user --clear to clear the data)</string>
				<key>text</key>
				<string>Setup Slack Status: paste the token as argument</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69D23941-6F76-4825-B18D-317BAA150F36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:text} {var:icon}</string>
				<key>title</key>
				<string>Setting Status</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>687A17CB-0293-49D4-978D-C9942C42E08B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Reponeing in {var:WF_MINUTES}m ({var:WF_SECONDS}s)</string>
				<key>title</key>
				<string>Closing Slack</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>52A4B380-0D51-44DD-8E16-4BB38D3B558A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>--close</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>274F466D-44EF-44B8-A407-07DFAD6B0CB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>close</key>
					<string>--close</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3F1D9726-B8F8-43DB-AEA6-1A33285F6E5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Close: Yes","arg":"--close"},{"title":"Close: No"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Close the app?</string>
				<key>title</key>
				<string>Close</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>105E954A-4799-4859-8980-34EBC65037FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:WF_CLOSE}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5D901710-1415-4480-A640-9B1DCB141675</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ssbrb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>BRB</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD2EB080-9848-437D-9D83-00372A98F948</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>--close</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2F5194BF-C581-4338-85A8-6A6B9003E81F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>dnd</key>
					<string>--dnd</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3E8BEE50-5A28-4184-A93B-F0AC92BBD905</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>--dnd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A3B6E451-E192-46D5-9601-F22E01C94A1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python slack_status.py "$text" "$icon" $minutes $dnd $close</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>42247D83-2DA0-4F8E-998D-A78B9782F6F8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>default</key>
					<string>10</string>
					<key>dnd</key>
					<string></string>
					<key>icon</key>
					<string>:brb:</string>
					<key>minutes</key>
					<string>{query}</string>
					<key>text</key>
					<string>BRB</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>543034E8-B802-44B7-A3D8-2D671576F112</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
   tell application "Slack.app"
       quit
   end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>939E852E-EA35-4649-BCF5-E308B6BDBD05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:FAILED}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>AAAE81F1-CAF0-4D68-B3A5-68244566FBC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:WF_SECONDS}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>C72CAADF-D81F-44D4-BA97-B6E5403BD604</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ssfocus</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>focus</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22801275-FC9C-42F4-9BED-86C2C83B3708</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"DND: Yes","arg":"--dnd","subtitle":""},{"title":"DND: No"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>DND</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>0948D243-E5DB-409D-842B-D2D06F267E82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>default</key>
					<string>45</string>
					<key>dnd</key>
					<string></string>
					<key>icon</key>
					<string>:male-technologist:</string>
					<key>minutes</key>
					<string>{query}</string>
					<key>text</key>
					<string>DND: working</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1F24D7D2-6476-4772-98B9-84B9AE96DB6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>--dnd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3B173E3D-9B82-4ACC-BDC9-CCB31E31B6ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ssdnd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>DND</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ECC49BEF-6E27-4B1A-AB84-DEC1FA067817</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
   tell application "Slack.app"
       open
   end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>EE77055D-7137-4237-93AF-3D283604F65F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>default</key>
					<string>45</string>
					<key>dnd</key>
					<string>--dnd</string>
					<key>icon</key>
					<string>:no_bell:</string>
					<key>minutes</key>
					<string>{query}</string>
					<key>text</key>
					<string>DND</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E9210F94-413E-4C56-B824-04131F95FB1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:WF_RESET}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2392DB12-BA03-47B7-9BB0-233142FB3F1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>After {var:WF_MINUTES}m ({var:WF_SECONDS}s)</string>
				<key>title</key>
				<string>Slack reopened</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>978D5C8F-8D63-4D55-8F76-2E4ADCAC0BA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ssafk</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>AFK</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B363A37C-9E8F-4AF9-AA2E-FBB51C4C75E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>default</key>
					<string>45</string>
					<key>dnd</key>
					<string>--dnd</string>
					<key>icon</key>
					<string>:afk:</string>
					<key>logname</key>
					<string>afk</string>
					<key>minutes</key>
					<string>{query}</string>
					<key>text</key>
					<string>AFK</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B9E29D54-56A0-45D7-A664-9EB2528977A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ssmeeting</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>meeting</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5139E7EF-1A39-4662-876F-3367C17F1368</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>default</key>
					<string>30</string>
					<key>dnd</key>
					<string>--dnd</string>
					<key>icon</key>
					<string>:virtual-meeting:</string>
					<key>logname</key>
					<string>meeting</string>
					<key>minutes</key>
					<string>{query}</string>
					<key>text</key>
					<string>In a Meeting</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B9114C11-5E60-455F-BE8A-A2EB061B36C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 $logscript $logname</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CDF29005-60A8-41C9-AD8A-B2E54A4DAA02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sslunch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>lunch</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FBD41F93-2806-477E-A278-B0177A6E9D50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>default</key>
					<string>90</string>
					<key>dnd</key>
					<string></string>
					<key>icon</key>
					<string>:chef-brb:</string>
					<key>logname</key>
					<string>lunch</string>
					<key>minutes</key>
					<string>{query}</string>
					<key>text</key>
					<string>Food time</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>43689A2A-F885-43ED-9EE0-68FD29A87E43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>--last</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DE51D350-CAB9-4336-8DFF-D598D69453E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:logscript}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B07DCF63-CCD7-4109-86C2-2D55DFBF6745</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssclear</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>slack clear status</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3EBAD960-13A5-4E4F-9CD0-793F60FA3CE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>default</key>
					<string>0</string>
					<key>dnd</key>
					<string>--reset</string>
					<key>icon</key>
					<string></string>
					<key>logname</key>
					<string>--last</string>
					<key>minutes</key>
					<string></string>
					<key>text</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E221ABC8-F118-4280-8D45-2FD749999831</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Last: Yes","arg":"--last","subtitle":""},{"title":"Last: No"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>log last</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>07EA37CB-795C-4CC4-A770-5B8D71CE5A9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:logscript}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E90AF384-353E-4718-8699-C138C7E64A08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>logname</key>
					<string>--last</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>58934BCD-28CD-4E4D-8E08-41E5E47820E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string></string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>--last</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6BDE8AA1-2DC7-4F90-9B4D-69CBEAF8D1AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07EA37CB-795C-4CC4-A770-5B8D71CE5A9C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>1715</integer>
		</dict>
		<key>0948D243-E5DB-409D-842B-D2D06F267E82</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1260</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>0960DE39-0CFB-4E85-BD8A-B4E908A9FC73</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>935</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>105E954A-4799-4859-8980-34EBC65037FB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1705</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>11111EC6-D142-4463-A115-EA5AF9C51A0D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>1F24D7D2-6476-4772-98B9-84B9AE96DB6C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>815</integer>
		</dict>
		<key>22801275-FC9C-42F4-9BED-86C2C83B3708</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>2392DB12-BA03-47B7-9BB0-233142FB3F1D</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>if reset</string>
			<key>xpos</key>
			<integer>2830</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>274F466D-44EF-44B8-A407-07DFAD6B0CB8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>2135</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>2F5194BF-C581-4338-85A8-6A6B9003E81F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>2125</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>3B173E3D-9B82-4ACC-BDC9-CCB31E31B6ED</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1545</integer>
			<key>ypos</key>
			<integer>815</integer>
		</dict>
		<key>3E8BEE50-5A28-4184-A93B-F0AC92BBD905</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1575</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>3EBAD960-13A5-4E4F-9CD0-793F60FA3CE3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>1665</integer>
		</dict>
		<key>3F1D9726-B8F8-43DB-AEA6-1A33285F6E5D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>2220</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>42247D83-2DA0-4F8E-998D-A78B9782F6F8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Change status 

{status}
{time}</string>
			<key>xpos</key>
			<integer>2435</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>43689A2A-F885-43ED-9EE0-68FD29A87E43</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>1515</integer>
		</dict>
		<key>5139E7EF-1A39-4662-876F-3367C17F1368</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>1330</integer>
		</dict>
		<key>52A4B380-0D51-44DD-8E16-4BB38D3B558A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>3080</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>543034E8-B802-44B7-A3D8-2D671576F112</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>985</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>58934BCD-28CD-4E4D-8E08-41E5E47820E3</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1265</integer>
			<key>ypos</key>
			<integer>1810</integer>
		</dict>
		<key>5D901710-1415-4480-A640-9B1DCB141675</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>if close</string>
			<key>xpos</key>
			<integer>2835</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>687A17CB-0293-49D4-978D-C9942C42E08B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>2810</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>69D23941-6F76-4825-B18D-317BAA150F36</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>6BDE8AA1-2DC7-4F90-9B4D-69CBEAF8D1AD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1175</integer>
			<key>ypos</key>
			<integer>1815</integer>
		</dict>
		<key>8F3BF2DE-A34B-49AA-B9F8-62567C02534B</key>
		<dict>
			<key>xpos</key>
			<integer>1105</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>939E852E-EA35-4649-BCF5-E308B6BDBD05</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Closes slack</string>
			<key>xpos</key>
			<integer>3080</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>978D5C8F-8D63-4D55-8F76-2E4ADCAC0BA7</key>
		<dict>
			<key>xpos</key>
			<integer>3545</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>A3B6E451-E192-46D5-9601-F22E01C94A1E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1500</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>A6FD53CE-DEF3-4145-8D16-6E9F87E2BFDD</key>
		<dict>
			<key>xpos</key>
			<integer>2795</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>AAAE81F1-CAF0-4D68-B3A5-68244566FBC4</key>
		<dict>
			<key>xpos</key>
			<integer>2620</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>ACE7761D-D356-4C27-B0FE-39BC51D5DD1A</key>
		<dict>
			<key>xpos</key>
			<integer>1470</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>B07DCF63-CCD7-4109-86C2-2D55DFBF6745</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>1655</integer>
		</dict>
		<key>B363A37C-9E8F-4AF9-AA2E-FBB51C4C75E5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>1155</integer>
		</dict>
		<key>B9114C11-5E60-455F-BE8A-A2EB061B36C8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>1360</integer>
		</dict>
		<key>B9E29D54-56A0-45D7-A664-9EB2528977A8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>1185</integer>
		</dict>
		<key>BD2EB080-9848-437D-9D83-00372A98F948</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>C72CAADF-D81F-44D4-BA97-B6E5403BD604</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>3250</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>CDF29005-60A8-41C9-AD8A-B2E54A4DAA02</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>log data</string>
			<key>xpos</key>
			<integer>2425</integer>
			<key>ypos</key>
			<integer>1465</integer>
		</dict>
		<key>DE51D350-CAB9-4336-8DFF-D598D69453E4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>1635</integer>
		</dict>
		<key>E221ABC8-F118-4280-8D45-2FD749999831</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1415</integer>
			<key>ypos</key>
			<integer>1680</integer>
		</dict>
		<key>E90AF384-353E-4718-8699-C138C7E64A08</key>
		<dict>
			<key>note</key>
			<string>If there's no my script, we skip this part</string>
			<key>xpos</key>
			<integer>845</integer>
			<key>ypos</key>
			<integer>1750</integer>
		</dict>
		<key>E9210F94-413E-4C56-B824-04131F95FB1E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>ECC49BEF-6E27-4B1A-AB84-DEC1FA067817</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>EE77055D-7137-4237-93AF-3D283604F65F</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Reopen slack</string>
			<key>xpos</key>
			<integer>3325</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>FBD41F93-2806-477E-A278-B0177A6E9D50</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>1490</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>logscript</key>
		<string>/Users/stefano/sw/presence/log.py</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>logscript</string>
	</array>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string>www.stefanotranquillini.com</string>
</dict>
</plist>
